@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMCC</h1>
    <p class="lead">Social Media Control Center - Article and Workflow Management</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Where to go?</h2>
        <p>
            Join the website!  Create an account is one easy step away by clicking the link below.
            You gain access to viewing articles and submitting your own for review.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Submit an Article</h2>
        <p>
            Already a member?  Looking to leave your own mark and share your thoughts and ideas?  
            Submit your own article for review.
        </p>
        <p><a class="btn btn-default" href="/Articles/Create">Article Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Review</h2>
        <p>
            Step right into reviewing other users' content following account validation and 
            you'll be able to provide crucial feedback for others to improve their work.
        </p>
        <p><a class="btn btn-default" href="/Articles/PendingReview">Review &raquo;</a></p>
    </div>
</div>